.Quote {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  color: rgba(105, 105, 105, 0.9);
  background-image: url("https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  box-shadow: 0 0.1em 0.2em gray;
  z-index: 99;
}

.Quote p {
  color: rgb(105, 105, 105);
}

blockquote {
  line-height: 40px;
  padding: 1em;
}

.overlay {
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 0.5em;
}

@media (max-width: 750px) {
  .Quote {
    max-width: 450px;
  }
  blockquote {
    padding: 0.5em;
  }
}
