@media (max-width: 600px) {
  .Quote {
    width: 90%;
  }
}

@media (min-width: 601px) {
  .Quote {
    width: 80%;
  }
}

.Quote {
  text-align: center;
  width: 80%;
  margin: 50px auto;
  color: rgb(105, 105, 105);
}

.Quote p {
  color: rgb(105, 105, 105);
}

blockquote {
  line-height: 40px;
}
