.App {
  width: 100vw;
}
.App nav {
  background-color: rgb(240, 248, 255);
  height: 60px;
  color: rgb(70, 130, 180);
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.App nav h1 {
  border-left: 3px solid rgb(70, 130, 180);
  padding-left: 4px;
}

.App .app-instructions {
  text-align: center;
  width: 100%;
}

.App .app-instructions small {
  /* color: rgb(255, 20, 147); */
  color: rgb(199, 21, 133);
}

.App .app-instructions .kwote {
  color: rgb(70, 130, 180);
}
