@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
* {
  color: #323232;
}

body,
html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  min-width: 300px;
}

body {
  background-color: rgba(135, 206, 250, 0.7);
}

p {
  color: rgb(255, 255, 255);
}