@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
body,
html {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: rgb(135, 206, 250);
}

p {
  color: rgb(255, 255, 255);
}

